<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxdx.basic.mapper.OrderformMapper">
  <resultMap id="BaseResultMap" type="com.sxdx.basic.bean.Orderform">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="amount" jdbcType="REAL" property="amount" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="finishTime" jdbcType="TIMESTAMP" property="finishtime" />
    <result column="payStyle" jdbcType="VARCHAR" property="paystyle" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="productId" jdbcType="INTEGER" property="productid" />
    <result column="customerId" jdbcType="INTEGER" property="customerid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, amount, description, finishTime, payStyle, status, productId, customerId
  </sql>
  <select id="selectByExample" parameterType="com.sxdx.basic.bean.OrderformExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orderform
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orderform
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from orderform
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sxdx.basic.bean.OrderformExample">
    delete from orderform
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sxdx.basic.bean.Orderform">
    insert into orderform (id, amount, description, 
      finishTime, payStyle, status, 
      productId, customerId)
    values (#{id,jdbcType=INTEGER}, #{amount,jdbcType=REAL}, #{description,jdbcType=VARCHAR}, 
      #{finishtime,jdbcType=TIMESTAMP}, #{paystyle,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{productid,jdbcType=INTEGER}, #{customerid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sxdx.basic.bean.Orderform">
    insert into orderform
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="finishtime != null">
        finishTime,
      </if>
      <if test="paystyle != null">
        payStyle,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="productid != null">
        productId,
      </if>
      <if test="customerid != null">
        customerId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=REAL},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="finishtime != null">
        #{finishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="paystyle != null">
        #{paystyle,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="productid != null">
        #{productid,jdbcType=INTEGER},
      </if>
      <if test="customerid != null">
        #{customerid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sxdx.basic.bean.OrderformExample" resultType="java.lang.Long">
    select count(*) from orderform
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update orderform
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.amount != null">
        amount = #{record.amount,jdbcType=REAL},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.finishtime != null">
        finishTime = #{record.finishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.paystyle != null">
        payStyle = #{record.paystyle,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.productid != null">
        productId = #{record.productid,jdbcType=INTEGER},
      </if>
      <if test="record.customerid != null">
        customerId = #{record.customerid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update orderform
    set id = #{record.id,jdbcType=INTEGER},
      amount = #{record.amount,jdbcType=REAL},
      description = #{record.description,jdbcType=VARCHAR},
      finishTime = #{record.finishtime,jdbcType=TIMESTAMP},
      payStyle = #{record.paystyle,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      productId = #{record.productid,jdbcType=INTEGER},
      customerId = #{record.customerid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sxdx.basic.bean.Orderform">
    update orderform
    <set>
      <if test="amount != null">
        amount = #{amount,jdbcType=REAL},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="finishtime != null">
        finishTime = #{finishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="paystyle != null">
        payStyle = #{paystyle,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="productid != null">
        productId = #{productid,jdbcType=INTEGER},
      </if>
      <if test="customerid != null">
        customerId = #{customerid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sxdx.basic.bean.Orderform">
    update orderform
    set amount = #{amount,jdbcType=REAL},
      description = #{description,jdbcType=VARCHAR},
      finishTime = #{finishtime,jdbcType=TIMESTAMP},
      payStyle = #{paystyle,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      productId = #{productid,jdbcType=INTEGER},
      customerId = #{customerid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>